:root{
    --preto: #000000;
    --c11:#121212;
    --c10:#2F2F2F;
    --braco:#ffffff;
    --primaria1:#FFBB00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header-bg{
    background-color: var(--preto);
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;/*alinha os itens ao centro horizontalmente*/
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.lista-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.lista-menu a{
    padding: 16px 0;
    display: inline-block;
    color: var(--braco);
    font-size: 1.125rem;
    line-height: 1.8;
    font-weight: 500;
    position: relative;
}

.lista-menu a::after{
    content: "";
    display: block;
    width: 0;/*começa com 0*/
    height: 2px;
    position: absolute;
    background-color: var(--primaria1);
    transition: .3s;
}

.lista-menu a:hover:after{
    width: 100%;/*quando o mouse passa por cima o width muda de 0 para 100%*/
}

@media(max-width: 800px){
    .lista-menu{
        gap: 20px;
    }
    .lista-menu a{
        background-color: var(--c11);
        padding: 12px 16px;
        border-radius: 5px;
    }

    .lista-menu a:hover{
        background-color: var(--c10);
    }

    .lista-menu a::after{
        display: none;
    }
}

@media(max-width: 600px){
    .lista-menu{
        gap: 12px;
    }

    .lista-menu a{
        padding: 8px 12px;
        font-size: .875rem;
    }
}