:root{
    --font-destaque: 'Poppins', sans-serif;
    --font-padrao: 'Roboto', sans-serif;
    --font-italic: 'Merriweather', serif;
}

.font-1-xg{
    font: 600 3.75rem/1.2 var(--font-destaque);/*font-weigth font-size line-heigth font-family*/
}

.font-1-g{
    font: 600 2rem/1.25 var(--font-destaque);
}

.font-1-p-c{
    font: 500 1.125rem/1.8 var(--font-destaque);
}

.font-2-g{
    font: 1.5rem/1.5 var(--font-padrao);
}

.font-2-m{
    font: 500 1.125rem/1.35 var(--font-padrao);
}

@media(max-width: 1200px){
    .font-1-xg{
        font-size: 3rem;
    }

    .font-1-g{
        font-size: 1.5rem;
    }

    .font-2-g{
        font-size: 1.125rem;
    }

    .font-2-m{
        font-size: 1rem;
    }
}

@media(max-width: 800px){
    .font-1-xg{
        font-size: 2.25rem;
    }
}