.header-bg{
    background-color: var(--preto);
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;/*alinha os itens ao centro horizontalmente*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.lista-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.lista-menu a{
    padding: 16px 0;
    display: inline-block;
    position: relative;
    color: inherit;
}

.lista-menu a::after{
    content: "";
    display: block;
    width: 0;/*começa com 0*/
    height: 2px;
    position: absolute;
    background-color: var(--primaria1);
    transition: .3s;
}

.lista-menu a:hover::after,
.lista-menu a.ativo::after/*adicioando a classe ativo que será ativada pelo css*/{
    width: 100%;/*quando o mouse passa por cima o width muda de 0 para 100%*/
}

@media(max-width: 800px){
    .lista-menu{
        gap: 20px;
    }
    .lista-menu a{
        background-color: var(--cor11);
        padding: 12px 16px;
        border-radius: 5px;
    }

    .lista-menu a:hover{
        background-color: var(--cor10);
    }

    .lista-menu a::after{
        display: none;
    }
}

@media(max-width: 600px){
    .header{
        flex-direction: column;
        gap: 20px;
    }

    .lista-menu{
        gap: 12px;
    }

    .lista-menu a{
        padding: 8px 12px;
        font-size: .875rem;
    }
}