.bicicleta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicleta-img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicicleta-img img{
    flex: 1;
    min-width: 200px;
}

.bicicleta-img img:first-child{
    min-width: 100%;
}

#nimbus .titulo p,
#magic .titulo p,
#nebula .titulo p{
    margin-bottom: 4px;
    text-transform: uppercase;
}

.bicicleta-conteudo > p{
    margin-bottom: 32px;
}

.bicicleta-comprar{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
}

.bicicleta-comprar a{
    grid-row: span 2;/*vai ocupar duas linhas*/
}

.bicicleta-comprar span{
    display: flex;
    align-items: center;
    background: var(--preto);
    padding: 4px 8px;
    gap: 8px;
    border-radius: 5px;
}

.bicicleta-conteudo h2{
    margin-top: 40px;
    margin-bottom: 12px;
}

.bicicleta-info,
.bicicleta-ficha{
    background: var(--preto);
    padding: 32px;
    border-radius: 5px;
}

.bicicleta-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bicicleta-info img{
    width: 24px;
    margin-bottom: 4px;
}

.bicicleta-info h3{
    margin-bottom: 8px;
}

.bicicleta-ficha li{
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor11);
}

.bicicleta-ficha li:last-child{
    border-bottom: none;
}

@media(max-width: 800px){
    .bicicleta{
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bicicleta-img{
        grid-row: 2;
    }
}

@media(max-width: 400px){
    .bicicleta-info{
        grid-template-columns: 1fr;
    }

    .bicicleta-comprar{
        grid-template-columns: 1fr;
    }
}