.introducao-bg{
    background-color: var(--preto);
    color: var(--braco);
    box-shadow: inset 0 -120px var(--braco);/*essa sombra está criando a ilusão de que a img está vazando. Inset é um sobra interna.*/
}

.introducao{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 0 40px;
}

.introducao-conteudo{
    align-self: end;/*alinha o ítem em específico*/
    padding-bottom: 200px;/*80 + 120. Essa soma está compensando a sobra criada.*/
}

.introducao-conteudo h1{
    margin-bottom: 32px;
}

.introducao-conteudo h1 > span{
    font-family: inherit;
}

.introducao-conteudo p{
    margin-bottom: 20px;
}

.introducao-container img{
   height: 100%;
   object-fit: cover;
   margin: auto;
}

@media(max-width: 800px){
    .introducao-container{
        grid-template-columns: 1fr;
        background-color: var(--cor11);
        padding-top: 32px;
    }

    .introducao-conteudo{
        padding-bottom: 32px;
    }

    .introducao-conteudo h1{
        margin-bottom: 16px;
    }

    .introducao-container img{
        height: 300px;
        width: 100%;
    }
}